@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


/* New CSS  */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.headerFull{
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin :20px 80px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: #ffffff;
    z-index: 1;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    width: 52.5%;

}

.navbar li {
    margin-right: 60px;
    
}

.navbar li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.navbar li a:hover{
    border-bottom: 2px solid rgba(248, 177, 18, 1);
    padding-bottom: 5px;
}


.slideshow {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide1 {
    background-image: url("./images/image1.png");
}

.slide2 {
    background-image: url("./images/image2.png");
}

.slide3 {
    background-image: url("./images/image3.png");
}

.slide.active {
    opacity: 1;
}

.slide-content {
    position: absolute;
    top: 60%;
    left: 11%;
    transform: translate(-55%, -50%);
    text-align: left;
    color: #ffffff;
}

.heading {
    top: 35%;
    position: absolute;
    font-size: 48px;
    left: 6%;
    /* transform: translate(5%, -50%); */
    color: #fff;
}

.para{
    
    font-size: 20px;
    top: 47%;
    left: 6.2%;
    /* transform: translate(9%, -50%); */
    color: #fff;
    position: absolute;


}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(248, 177, 18, 1);
    color: #ffffff;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-decoration: none;
}

@keyframes slideshow {
    0% { opacity: 0; }
    25% { opacity: 1; }
    33% { opacity: 1; }
    58% { opacity: 0; }
    100% { opacity: 0; }
}



.grid {
    position: relative;
    background-color: #ffff;
    padding : 20px 80px 120px 80px;
    /* margin-top: 101vh;  */
    z-index: 3;
}

.grid h1 {
    font-size: 48px;
    margin-bottom: 0px;
    font-weight: 600;
    margin-top: 80px;
    color: rgba(1, 113, 163, 1);
}


.grid-items {
    margin-top: 20px;
    font-size:18px;
}

.grid-items h3{
    font-weight: 600;
    color: rgba(1, 113, 163, 1);
    text-align: left;
    /* margin-top: 3px; */
}

.grid-items p{
    text-align: left;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: rgba(1, 113, 163, 1);
}

.grid-items span{
 margin: 0 5px;
 padding-bottom: 5px;
 font-size: 15px;
}

.item-head p {
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 20px;
    margin-left: -4px;
   
}

.grid-items {
    display: grid;
    grid-template-columns: repeat(3, 10fr);
    row-gap: 60px;
    column-gap: 30px;
}

.item {
    background-color: #ffffff;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
    filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.1));
}

.item-head{
    margin: 20px;

}


.null{
    height: 24px;
}

.line{
    background: rgba(218, 218, 218, 1);
    width: 100%;
    height: 2px;
}

.price p{
    font-weight: 600;
    font-size: 15px;
    display: flex;
    margin: 6px 20px;
    align-items: center;
}
.charge span{
    font-size: 17px;
    display: flex;
    margin-top: 8px;
    margin-left: 60px;
    align-items: center;
}
.dept span{
    font-size: 13px;
    display: flex;
    margin-top: 0px;
    margin-left: 20px;
    align-items: center;
}

.buttons{
    padding-top: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.buttons a{
    text-decoration: none;
    color: rgba(248, 177, 18, 1);
    border: 1px solid rgba(248, 177, 18, 1);
    padding: 8px 20px;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 40px;
}


.buttons a:nth-child(2){
    margin-left: 30px;
}


.itinerary{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 8px 20px;
    background-color: rgba(1, 113, 163, 1);
    
}



.itinerary p{
    color: #ffff;
    margin-top: 15px;
}


/* Add your existing CSS styles */
.about{
    background-image: url("./images/aboutBanner.png");
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding : 20px 80px 120px 80px;
    z-index: 3;
    height: 85vh;
    color: #ffff;
}

.about h1{
    font-size: 48px;
    z-index: 6;
    margin-bottom: 5px;
}


.about p{
    margin-top: 0px;
    z-index: 6;
    width: 40%;
    font-size: 18px;
}

.about button{
    z-index: 6;
    background: transparent;
    border: none;
}

.play-button .pause-icon {
    display: none;
  }
  
  .play-button.playing .play-icon {
    display: none;
  }
  
  .play-button.playing .pause-icon {
    display: inline;
  }
  


#videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  #videoContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  



.experiences{
    position: relative;
    background-color: #ffff;
    padding : 20px 80px 120px 80px;
    z-index: 3;
    /* filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1)); */
}

.experiences h1{
    color: rgba(1, 113, 163, 1);
    font-size: 48px;
    margin-top: 80px;
    margin-bottom: 0px;
}

.experiences p{
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 18px;
}


.etinerary{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: start;
    margin-top: -4px;
    justify-content: space-between;
    max-height: 36px;
    padding: 10px 20px;
    background-color: rgba(1, 113, 163, 1);
    
}

.etinerary p{
    color: #ffff;
    padding-top: 5px;
}



.expand-button{
    background: transparent;
    border: none;
}


.dropdown-content {
    display: none;
  }
  
  .dropdown-content.show {
    display: block;

  }
  



.testimonials h2{
    text-align: center;
    color: rgba(1, 113, 163, 1);
    font-weight: 600;
    font-size: 40px;
}

.testimonials-container {
    display: flex;
    align-items: center;
    margin: 10px 80px;
  }
  .testimonial {
    margin: 0px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: #fff;
    align-items: center;
    filter: drop-shadow(0 0px 20px rgba(0, 0, 0, 0.1));
    transition: transform 0.5s ease, filter 0.5s ease;
    position: relative;
    transform-origin: center;
  }
  
  .testimonial.blur {
    opacity: 0.7;/* Apply the blur effect to the side testimonials */
    transform: scale(0.9); /* Scale down the side testimonials */
  }
  
  .testimonial.hidden {
    display: none; /* Initially hide the fourth testimonial */
  }
  

  .testimonial-text{
    text-align: center;
  }


 
  .rotate-previous .testimonial {
    transform: translateX(-200%);
  }
  
  .rotate-next .testimonial {
    transform: translateX(100%);
  }
  
  
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 768%;
    width: 30px;
    z-index: 5;
    height: 30px;
    filter: drop-shadow(0 0px 20px rgba(0, 0, 0, 0.2));

    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .prev-button {
    left: 30px;
    background-image: url("prev.png");
  }
  
  .next-button {
    right: 30px;
    background-image: url("next.png");
  }
  

  .popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    margin-right: 5px;
  }


.tag{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}

  .popup img{
    margin: 5px;
    width: 50px;
    height: 50px;
  }

  .contact{
    position: relative;
    margin: 180px 80px;
    background-color: #ffff;
    padding: 80px 0;
    
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
  }

  .contact-box{
    display: flex;
    align-items: start;
    justify-content: start;
  }


  .contact-box h2{
    color: rgba(1, 113, 163, 1);
    font-weight: 400;
    margin: 0;
    font-size: 28px;
  }

  .contact-box p{
    margin: 5px 0;
  }


  .contact-box img{
    margin: 0 60px;
  }
  

  .form{
    display: flex;
    flex-direction: column;
    justify-content:start;
    margin: 15px 0;
  }

  .form input{
    outline: none;
    border: none;
    background: rgba(237, 237, 237, 1);
    border-radius: 5px;
    padding: 15px ;
    margin: 10px 0;
    font-size: 16px;
    width: 110%;
  }



  .inputOtp{
    display: flex;
  }

  .inputOtp button {
    display: block;
    margin-bottom: 10px;
  }
  
  #otp {
    display: none;
  }




  footer{
    height: 45vh;
    background-image: url("./images/footerImage.png");
  }
  

  .footer{
    display: flex;
    align-items: start;
    padding-top: 100px;
    justify-content: space-evenly;

    color: #ffff;
  }


.footer img{
    margin-top: 15px;
}

  .footer h3{
    margin-bottom: 0px;
  }

  .lineTwo{
    background-color: rgba(255, 255, 255, 1);
    width: 200px;
    height: 2px;
    margin: 20px 0;
    
  }


  .address{
    width: 15%;
  }

  .footer-form{
    display: flex;
  }

  .add{
    line-height: 28px;
  }

  .footer-form input{
    outline: none;
    border: none;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px ;
    /* margin: 10px 0; */
    font-size: 16px;
    width: 110%;
  }


  .footer a{
    color: #ffff;
    text-decoration: none;
  }



 .submit-button {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(248, 177, 18, 1);
    color: #ffffff;
    font-weight: 600;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
}



