@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


/* New CSS  */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin :20px 80px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: #ffffff;
    z-index: 1;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    width: 52.5%;

}

.navbar li {
    margin-right: 60px;
    
}

.navbar li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.navbar li a:hover{
    border-bottom: 2px solid rgba(248, 177, 18, 1);
    padding-bottom: 5px;
}


.slideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide1 {
    background-image: url("./images/image1.png");
}

.slide2 {
    background-image: url("./images/image2.png");
}

.slide3 {
    background-image: url("./images/image3.png");
}

.slide.active {
    opacity: 1;
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-55%, -50%);
    text-align: left;
    color: #ffffff;
}

.heading {
    font-size: 48px;
}

.para{
    margin: -30px 0 30px 0;
    font-size: 20px;


}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(248, 177, 18, 1);
    color: #ffffff;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-decoration: none;
}

@keyframes slideshow {
    0% { opacity: 0; }
    25% { opacity: 1; }
    33% { opacity: 1; }
    58% { opacity: 0; }
    100% { opacity: 0; }
}



.grid {
    position: relative;
    background-color: #ffff;
    padding : 20px 80px 120px 80px;
    margin-top: 101vh; 
    z-index: 3;
}

.grid h1 {
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 600;
    color: rgba(1, 113, 163, 1);
}


.grid-items {
    margin-top: 20px;
    font-size:18px;
}

.grid-items h3{
    font-weight: 600;
    color: rgba(1, 113, 163, 1);
    text-align: left;
    /* margin-top: 3px; */
}

.grid-items p{
    text-align: left;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: rgba(1, 113, 163, 1);
}

.grid-items span{
 margin: 0 5px;
 padding-bottom: 5px;
 font-size: 15px;
}

.grid p {
    font-size: 20px;
   
}

.grid-items {
    display: grid;
    grid-template-columns: repeat(3, 10fr);
    row-gap: 60px;
    column-gap: 30px;
}

.item {
    background-color: #ffffff;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
    filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.1));
}

.item-head{
    margin: 20px;

}

.item-head p{
    margin-left: -4px;
}

.null{
    height: 24px;
}

.line{
    background: rgba(218, 218, 218, 1);
    width: 100%;
    height: 2px;
}

.price p{
    font-weight: 600;
    font-size: 15px;
    display: flex;
    margin: 20px;
    align-items: center;
}
.charge span{
    font-size: 14px;
    display: flex;
    margin-top: 5px;
    margin-left: 60px;
    align-items: center;
}
.dept span{
    font-size: 13px;
    display: flex;
    margin-top: 5px;
    margin-left: 20px;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: start;
    align-items: start;
}

.buttons a{
    text-decoration: none;
    color: rgba(248, 177, 18, 1);
    border: 1px solid rgba(248, 177, 18, 1);
    padding: 8px 20px;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 40px;
}


.buttons a:nth-child(2){
    margin-left: 30px;
}


.itinerary{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 10px 20px;
    background-color: rgba(1, 113, 163, 1);
    
}

.itinerary p{
    color: #ffff;
    margin-top: 12px;
}


/* Add your existing CSS styles */
.about{
    background-image: url("./images/aboutBanner.png");
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding : 20px 80px 120px 80px;
    z-index: 3;
    height: 64vh;
    color: #ffff;
}

.about h1{
    font-size: 48px;
}


.about p{
    margin-top: 0px;
    width: 40%;
    font-size: 18px;
}

.about button{
    background: transparent;
    border: none;
}

.experiences{
    position: relative;
    background-color: #ffff;
    padding : 20px 80px 120px 80px;
    z-index: 3;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
}

.experiences h1{
    color: rgba(1, 113, 163, 1);
    font-size: 48px;
}

.experiences p{
    font-size: 18px;
}


.etinerary{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: -4px;
    justify-content: space-between;
    
    padding: 10px 20px;
    background-color: rgba(1, 113, 163, 1);
    
}

.etinerary p{
    color: #ffff;
    margin-top: 12px;
}



.testimonials{
    position: relative;
    z-index: 3;
    padding-top: 70px;
}

.testimonials h2{
    color: rgba(1, 113, 163, 1);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.testimonial-slider{
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
}

.testimonial{
    margin: 10px 20px;
    border-radius: 5px;
    padding: 30px 15px;

    background: white;
    filter: drop-shadow(10px 0px 15px rgba(0, 0, 0, 0.1));
}

.testimonial-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}




.author{
    font-weight: 600;
}

.controls{
    display: flex;
    align-items: center;
}


.controls button{
    background: transparent;
    border: none;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
}